* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.bin binary
*.elf binary
*.img binary
*.iso binary
*.o binary
*.obj binary
*.a binary
*.lib binary

*.inc linguist-language=C
*.h linguist-language=C
kernel/rust/** linguist-language=Rust
Makefile linguist-language=Makefile
