.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "20"
displayName = "Rabbitbone UEFI Live"
guestOS = "other-64"
memsize = "4096"
numvcpus = "8"
firmware = "efi"
uefi.secureBoot.enabled = "FALSE"
bios.bootOrder = "cdrom"
bios.bootDelay = "1000"

ide1.present = "TRUE"
ide1:0.present = "TRUE"
ide1:0.fileName = "../build/rabbitbone-live.iso"
ide1:0.deviceType = "cdrom-image"
ide1:0.startConnected = "TRUE"
ide1:0.autodetect = "FALSE"

ethernet0.present = "TRUE"
ethernet0.connectionType = "nat"
ethernet0.virtualDev = "e1000"
ethernet0.addressType = "generated"
ethernet0.startConnected = "TRUE"

serial0.present = "TRUE"
serial0.fileType = "file"
serial0.fileName = "rabbitbone-com1.log"
serial0.tryNoRxLoss = "FALSE"

floppy0.present = "FALSE"
usb.present = "FALSE"
sound.present = "FALSE"
